
@using PagedList
@using PagedList.Mvc

@model IPagedList<MvcBlog.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12" style="padding-top:15px">
            <article style="background-color:gainsboro; padding-left:15px;padding-bottom:10px; padding-top:1px; padding-right:5px; border-radius:5px">
                <h2>
                    <a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a>
                </h2>
                <p class="lead" style="font-size:16px">
                    <span> <img class="img-circle img-responsive" width="90" src="@item.Uye.Foto" alt="@item.Uye.KullaniciAdi" /></span>
                    <a href="/Uye/UyeProfil/@item.Uye.UyeId">@item.Uye.KullaniciAdi</a>

                    <span class="glyphicon glyphicon-time"></span> @string.Format("{0:MMM yyyy}", item.Tarih)
                    <span class="glyphicon glyphicon-tags"></span> @item.Etikets.Count()
                </p>

                <hr />
                <img class="img-responsive" src="@item.Foto" alt="@item.Uye.KullaniciAdi" />
                <hr />
                @if (item.Icerik.Length > 250)
                {
                    <p> @Html.Raw(item.Icerik.Substring(0, 250))...</p>
                }
                else
                {
                    <p>@Html.Raw(item.Icerik)...</p>
                }

                <a href="/Home/MakaleDetay/@item.MakaleId" class="btn btn-primary" id="oku">
                    Devamını Oku
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </article>
        </div>
    }

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="pagedList pagination-lg text-center">
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div>
